body {
  margin: 0;
  background: linear-gradient(black, rgb(255, 246, 193));
}

.container {
  background-image: url("https://t3.ftcdn.net/jpg/02/90/46/84/360_F_290468474_6yJ9eBPW2wevarR9cbXN87TCFJDVVuAR.jpg");
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  height: 50%;
  max-width: 50%;
  color: black;
  margin: 0 auto;
  border: 1px solid black;
  box-sizing: border-box;
}

h1 {
  margin-top: 10px;
  margin-bottom: 10px;
}

h2 {
  font-size: 50px;
  margin-top: 0;
  margin-bottom: 20px;
}

button {
  border: 1px solid black;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  font-weight: bold;
  width: 200px;
  margin-bottom: 5px;
  border-radius: 5px;
}

#increment-btn {
  background: #2c2891;
}

#save-btn {
  background: #1c7947;
}

#save-el {
  font-weight: bold;
}

#reset-btn{
  background-color: rgb(130, 11, 11);
}
